<%- include('../partials/header') %>
<div class="container" id="container-form">
  <div class="welcome-message">
    <h2>Contact Us</h2>
  </div>
  <form class="contactForm" id="contactForm">
    <div class="form-group">
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Please enter your name."
        required
      />
    </div>
    <div class="form-group">
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Please enter your email."
        required
      />
    </div>
    <div class="form-group">
      <textarea
        id="message"
        name="message"
        placeholder="Please provide us with a question."
        required
      ></textarea>
    </div>

    <button type="submit">Send</button>
  </form>
</div>

<%- include('../partials/footer') %>
<script>
  function storeToMemory(arr) {
    return new Promise((resolve, reject) => {
      const name = document.querySelector("#name").value.trim();
      const email = document.querySelector("#email").value.trim();
      const message = document.querySelector("#message").value.trim();

      if (!name || !email || !message) {
        reject("Please fill out the fields.");
        return;
      }

      arr.push({ name, email, message });
      fetch("/contact", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ name, email, message }),
      })
        .then((response) => {
          if (response.redirected) {
            alert("Data has been captured. Redirecting...");
            window.location.href = response.url;
            resolve();
          } else {
            reject("Failed to redirect.");
          }
        })
        .catch((err) => reject("Error: " + err));
    });
  }

  document.addEventListener("DOMContentLoaded", () => {
    const form = document.getElementById("contactForm");
    const localContacts = [];
    form.addEventListener("submit", (e) => {
      e.preventDefault();
      storeToMemory(localContacts)
        .then(() => console.log("Contact saved."))
        .catch((err) => alert("Error: " + err));
    });
  });
</script>
