<%- include('../partials/header') %>
<div class="container">
  <div class="welcome-message">
    <h2>Thank You!</h2>
  </div>

  <p>Your message has been received.</p>
</div>
<%- include('../partials/footer') %>
