<link rel="stylesheet" href="/css/style.css">

<%- include('../partials/header') %>
<div class="container">
  <div class="pulse shadow">
    
    <div class="welcome-message">
      <img src="/images/thankYouIcon.jpg" alt="thankYouIcon" class="thankYounIcon">
      <h2>Thank You!</h2>
      <p>Your message has been received.</p>
    </div>

  </div>

</div>
<%- include('../partials/footer') %>
